@if (!authService.isLoggedIn()) {
  <!-- This button only shows if the user is logged out -->
  <div class="auth-container">
    <button (click)="login()">Log In with Spotify</button>
  </div>
} @else {
  <!-- This button only shows if the user is logged in -->
  <div class="auth-container">
    <button (click)="logout()">Log Out</button>
  </div>
  
<!-- Container for Pinned Playlists -->
@if (selectedPlaylists.length > 0) {
    <div class="result">
    <form [formGroup]="homeForm" class="pinned-playlists-list">
      @for (playlist of selectedPlaylists; track playlist.id) {
        <div class="playlist-card">
          <button class="listing" (click)="pinPlaylist(playlist)">
            <app-playlist-tile class="pinned" [playlist]="playlist"></app-playlist-tile>
          </button>
          <div class="ratio-container">
            <p>Ratio</p>
            <input type="number" (click)="$event.stopPropagation()" [formControlName]="playlist.id"/>
          </div>
        </div>
      } 
    </form>
  </div>
  <div class="control-panel">
        <button (click)="play()">Play</button>
    </div>
}

<form>
  <input type="text" placeholder="Search Playlists" #filter />
  <button class="primary" type="button" (click)="searchPlaylists(filter.value)">Search</button>
</form>

<!-- Container for Search Result Grid -->
<div class="results-grid">
  @for (playlist of searchedPlaylists; track playlist.id) {
    @if (!playlist.isSelected) {
      <button class="listing" (click)="pinPlaylist(playlist)">
        <app-playlist-tile class="listing" [playlist]="playlist"></app-playlist-tile>
      </button>
    }
  } 
</div>
}